.app-container {
  margin: 20px;
}

.header {
  text-align: center;
}

.monitor-container, .notifications-container {
  margin: auto;
  text-align: center;
}

.monitor-container {
  max-width: 1200px;
}

.notifications-container {
  max-width: 400px;
}

.loading {
  cursor: wait;
}

.error {
  max-width: 500px;
  margin: 10px auto;
  padding: 12px;
  border: #f00 1px solid;
  border-radius: .5em;

  color: #D8000C;
  background-color: #FFD2D2;
}
